{%  extends "main/base.html" %}

{% load static %}

{% block content%}
    <div class="container-bucket">
        <div class="content-purchase">
            <span class="title-orders">Корзина</span>
            {% if carts %}
            <div class="table-orders">
                <div class="orders-table">
                    {% for cart in carts %}
                    <div class="block-order">
                        <div class="group-order group-bucket">
                            <div class="date-group">
                                <img style="width: 60px; border-radius: 5px;" src="{{cart.product.image.url}}">
                            </div>
                            <div class="date-group">
                                <span class="accept-order">Товар</span>
                                <span class="date-order">{{cart.product.name}}</span>
                            </div>
                            <div class="date-group">
                                <span class="accept-order">Цена</span>
                                <span class="date-order">{{cart.product.price}} ₽</span>
                            </div>
                            <div class="date-group">
                                <span class="accept-order">Количество</span>
                                <input type="number" value="{{cart.quantity}}">
                            </div>
                            <div class="date-group">
                                <span class="accept-order">Стоимость</span>
                                <input type="text" value="{{cart.products_price}}">
                            </div>
                            <a href="{% url 'carts:cart_remove' cart_id=cart.id %}" class="date-group">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path d="M4.92896 4.92896L11.9985 12M11.9985 12L19.0711 4.92896M11.9985 12L19.0703 19.0719M11.9985 12L4.92896 19.0711" stroke="#1F2238" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </a>
                        </div>
                        <div class="line-order"></div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="description-purchase">
                <div>
                    <span class="sum-purchase">Общая стоимость: {{carts.total_price}} ₽</span>
                </div>
                <div>
                    <span class="sum-purchase">Общее количество товаров: {{carts.total_quantity}} шт.</span>
                </div>
                <div>
                    <span class="sum-purchase">Способ доставки:</span>
                    <select class="select-items">
                        <option>Доставка</option>
                        <option>Самовывоз</option>
                    </select>
                </div>  
                <div>
                    <span class="sum-purchase">Способ оплаты:</span>
                    <select class="select-items">
                        <option>QR-code</option>
                        <option>СБП</option>
                        <option>Наличными</option>
                    </select>
                </div>
                <div>
                    <span class="sum-purchase">Контактные данные берутся из личного кабинета</span>
                </div>
            </div>
            {% else %}
            <div class="table-orders" style="margin: auto; padding: 150px 0">
                <span class="sum-purchase" style="text-aling: center">Добавьте товары в корзину</span>
                <a href="{% url 'catalog:catalog' category_slug='blocks' %}" class="button-order" style="margin: auto;">Перейти в каталог</a>
            </div>
            {% endif %}
        </div>
        {% if carts %}
        <button class="button-order">Оформить заказ</button>
        {% endif %}
    </div>
{% endblock content %}
