<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style_catalog.css" rel="stylesheet">
    <title>{{ title }}</title>
</head>
<body>
    <div class="title-section">
        <div class="flex-container-title">
            <div class="content-title">
                <div class="container-content">
                    <div class="breadcrumbs">
                        <span class="white-crumb">Главная</span>
                        <span class="white-crumb">/</span>
                        <span class="grey-crumb">Блоки</span>
                    </div>
                    <div class="text-for-catalog">
                        <span class="title-catalog">Блоки</span>
                        <span class="description-catalog">Идеальный выбор для тех, кто строит с умом. Прочные, легкие и долговечные, они обеспечивают отличную тепло- и шумоизоляцию, позволяя экономить на отоплении и создавая комфорт в доме. Благодаря крупному размеру и малому весу, строительство идет быстрее и дешевле — меньше раствора, меньше труда, больше выгоды. Изготовленные из натурального керамзита, блоки безопасны для здоровья и устойчивы к влаге, огню и перепадам температур. Подходят для возведения несущих стен, перегородок, гаражей, хозяйственных построек и не только.</span>
                    </div>
                </div>
                <img class="logo-catalog" src="блок.jpg">
            </div>
        </div>
    </div>
</body>