{%  extends "main/base.html" %}
{% load static %}

{% block content %}
    <div class="container-bucket">
        <div class="content-purchase">
            <span class="title-orders">Заказы</span>
            <div class="table-orders">
                <div class="filters-orders">
                    <select class="select-items">
                        <option>Новые</option>
                        <option>Выполненные</option>
                    </select>
                </div>
                <div class="orders-table">
                    <div class="block-order">
                        <div class="open-close-title">
                            <span class="title-order">Заказ №314232</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.4698 8.46967C11.7627 8.17678 12.2375 8.17678 12.5304 8.46967L17.5304 13.4697L18.0608 14L17.0001 15.0607L16.4698 14.5303L12.0001 10.0607L7.53044 14.5303L7.00011 15.0607L5.93945 14L6.46978 13.4697L11.4698 8.46967Z" fill="black"/>
                            </svg>
                        </div>
                        <div class="group-order">
                            <div class="date-group">
                                <span class="accept-order">Поступил</span>
                                <span class="date-order">25 авг., 12:30</span>
                            </div>
                            <div class="date-group">
                                <span class="accept-order">Товары</span>
                                <span class="date-order">Керамзитоблок М350 х 2300 шт. (91 ₽)</span>
                                <span class="date-order">Керамзитоблок М550 х 2100 шт. (102 ₽)</span>
                            </div>
                            <div class="date-group">
                                <span class="accept-order">Итоговая стоимость</span>
                                <span class="date-order"> 987 700 ₽</span>
                            </div>
                            <div class="date-group">
                                <span class="accept-order">Оплата</span>
                                <span class="date-order">Наличными</span>
                            </div>
                            <div class="date-group">
                                <span class="accept-order">Способ доставки</span>
                                <span class="date-order">Самовывоз</span>
                            </div>
                            <div class="date-group">
                                <span class="accept-order">Выполнен</span>
                                <span class="date-order">30 авг., 12:30</span>
                            </div>
                        </div>
                        <div class="line-order"></div>
                    </div>
                    <div class="block-order">
                        <div class="open-close-title">
                            <span class="title-order">Заказ №314232</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.4698 8.46967C11.7627 8.17678 12.2375 8.17678 12.5304 8.46967L17.5304 13.4697L18.0608 14L17.0001 15.0607L16.4698 14.5303L12.0001 10.0607L7.53044 14.5303L7.00011 15.0607L5.93945 14L6.46978 13.4697L11.4698 8.46967Z" fill="black"/>
                            </svg>
                        </div>
                        <div class="group-order">
                            <div class="date-group">
                                <span class="accept-order">Поступил</span>
                                <span class="date-order">25 авг., 12:30</span>
                            </div>
                            <div class="date-group">
                                <span class="accept-order">Товары</span>
                                <span class="date-order">Керамзитоблок М350 х 2300 шт. (91 ₽)</span>
                                <span class="date-order">Керамзитоблок М550 х 2100 шт. (102 ₽)</span>
                            </div>
                            <div class="date-group">
                                <span class="accept-order">Итоговая стоимость</span>
                                <span class="date-order"> 987 700 ₽</span>
                            </div>
                            <div class="date-group">
                                <span class="accept-order">Оплата</span>
                                <span class="date-order">Наличными</span>
                            </div>
                            <div class="date-group">
                                <span class="accept-order">Способ доставки</span>
                                <span class="date-order">Самовывоз</span>
                            </div>
                            <div class="date-group">
                                <span class="accept-order">Выполнен</span>
                                <span class="date-order">30 авг., 12:30</span>
                            </div>
                        </div>
                        <div class="line-order"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
    $(document).ready(function() {
        $('.open-close-title').on('click', function() {
            const $parent = $(this).closest('.block-order');
            const $icon = $(this).find('svg');
            const $content = $parent.find('.group-order');
            $icon.toggleClass('rotate');
            if($content.is(':visible')){
                $content.slideUp(200);
            }else{
                $content
                    .css('display', 'flex') // сначала принудительно задаем flex
                    .hide()                // затем прячем (иначе slideDown не работает)
                    .slideDown(200);      // а теперь плавно показываем
            }
        });
    });
</script>
{% endblock content %}
