{%  extends "main/base.html" %}

{% load static %}

{% block content%}
<section class="brand-routes">
    <div class="container">
        <div class="brand-routes__tour-container">
            <div class="brand-routes__header">
                <h2 class="brand-routes__title">Спец. техника</h2>
            </div>
            <div class="swiper-slider">
                <div class="brand-routes__slider-wrapper swiper-wrapper">
                    {% for car in cars %}
                        <div class="brand-routes__card swiper-slide">
                            <div class="brand-routes__card-inner">
                                <div class="brand-routes__card-image-container">
                                    <div class="brand-routes__card-image">
                                        <div class="brand-routes__card-image-box">
                                            <img src="{{  car.image.url }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="activity-tour__info">
                                    <div class="activity-tour__description">
                                        <div class="activity-tour__heading">
                                            <span class="activity-tour__list-number">{{ forloop.counter }} - {{ cars|length }}</span>
                                            <span class="activity-tour__list-title">{{car.name}}</span>
                                        </div>
                                        <div class="activity-tour__text">
                                            <span class="activity-tour__description-text">{{ car.description }}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="activity-tour__buttons">
                                        <div class="activity-tour__price-line">
                                                <span class="activity-tour__price">{{ car.price }} ₽</span>
                                            <span class="activity-tour__price-description">цена за час</span>
                                        </div>
                                        <div class="activity-tour__order-buttons">
                                            <div class="activity-tour__order-button">
                                                <button class="openModal activity-tour__order-button--master">
                                                    Отправить заявку
                                                </button>
                                            </div>
                
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="slider__button-prevs js-slider-button-prev">
                    <svg xmlns="http://www.w3.org/2000/svg" width="6" height="12" viewBox="0 0 6 12" fill="none">
                        <path d="M5 11L1.32547 6.88384C0.891511 6.39773 0.891511 5.60227 1.32547 5.11616L5 1" stroke="#40373A" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
                <div class="slider__button-nexts js-slider-button-next">
                    <svg xmlns="http://www.w3.org/2000/svg" width="6" height="12" viewBox="0 0 6 12" fill="none">
                        <path d="M1 11L4.67453 6.88384C5.10849 6.39773 5.10849 5.60227 4.67453 5.11616L1 1" stroke="#40373A" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="overlay"></div>
    <div class="modal">
        <button class="closeModal">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                <path d="M4.10742 4.10645L9.99872 9.99902M9.99872 9.99902L15.8925 4.10645M9.99872 9.99902L15.8919 15.8922M9.99872 9.99902L4.10742 15.8916" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </button>
        <div class="under-close-block">
            <div class="header-popup">
                <span class="title-popup">
                    Оставьте заявку на аренду
                </span>
            </div>
            <form class="review-form">
                <div class="inputs-container">
                    <textarea class="textarea-rev" placeholder="Дата и сроки аренды"></textarea>
                    <textarea class="textarea-rev"  placeholder="Адрес"></textarea>
                </div>
                <div class="container-forms-btns">
                    <div class="buttons-container-rev">
                        Оставить заявку
                    </div>
                    <span class="confidens">
                        Нажимая на кнопку, подтверждаю свое согласие с положениями политики конфиденциальности 
                    </span>
                </div>
            </form>
        </div>
    </div>
</section>  
<script>
    $(document).ready(function() {
        $('.openModal').on('click', function () {
            $('.overlay').fadeIn();
            $('.modal').fadeIn();
        });
        $('.closeModal, #overlay').on('click', function () {
            $('.overlay').fadeOut();
            $('.modal').fadeOut();
        });
        let currentSlide = 0;
        const $slides = $('.review-slide');
        const totalSlides = $slides.length;
        function updateCounter() {
            // Обновление текста счетчика с текущим номером слайда и общим количеством слайдов
            $('.counter-text').text(`${currentSlide + 1}/${totalSlides}`);
        }
        function showSlide(index) {
            updateCounter();
            $slides.removeClass('active').hide();
            $slides.eq(index).addClass('active').fadeIn();
            // Управляем отображением кнопок
            $('.prevReview').toggle(index !== 0);
            $('.nextReview').toggle(index !== totalSlides - 1);
        }
        $('.nextReview').click(function () {
            if (currentSlide < totalSlides - 1) {
                currentSlide++;
                showSlide(currentSlide);
            }
        });
        $('.prevReview').click(function () {
            if (currentSlide > 0) {
                currentSlide--;
                showSlide(currentSlide);
            }
        });
        showSlide(currentSlide);
        let swiper;
        function initSlider() {
            if (swiper) swiper.destroy(true, true); // Уничтожить существующий слайдер
            swiper = new Swiper(".swiper-slider", {
                effect: "coverflow",
                grabCursor: true,
                slidesPerView: 1,
                centeredSlides: true,
                speed: 300,
                autoHeight: true,
                observer: true,
                observeParents: true,
                slideShadows: false,
                navigation: {
                    nextEl: ".js-slider-button-next",
                    prevEl: ".js-slider-button-prev",
                },
                on: {
                    slideChange: function () {
                        updateCardOpacity(this); // Обновляем прозрачность при смене слайда
                    },
                    init: function () {
                        updateCardOpacity(this); // Обновляем прозрачность при инициализации
                    },
                },
                breakpoints: {
                    320: {
                        effect: "",
                        spaceBetween: 8,
                        slideShadows: false,
                    },
                    375: {
                        effect: "",
                        spaceBetween: 12,
                        slideShadows: false,
                    },
                    576: {
                        effect: "",
                        spaceBetween: 16,
                        slideShadows: false,
                    },
                    768: {
                        effect: "",
                        spaceBetween: 24,
                        slideShadows: false,
                    },
                    1024: {
                        effect: "coverflow",
                        coverflowEffect: {
                            slideShadows: true,
                            rotate: 0,
                            stretch: 540,
                            depth: 640,
                            modifier: 1,
                        },
                    },
                    1200: {
                        effect: "coverflow",
                        coverflowEffect: {
                            slideShadows: true,
                            rotate: 0,
                            stretch: 450,
                            depth: 750,
                            modifier: 1,
                        },
                    },
                    1600: {
                        effect: "coverflow",
                        coverflowEffect: {
                            slideShadows: true,
                            rotate: 0,
                            stretch: 570,
                            depth: 750,
                            modifier: 1,
                        },
                    },
                },
            });
        }
        window.addEventListener("resize", initSlider);
        initSlider();
    });
    </script>
{% endblock content%}