.group-bucket{
    display: flex !important;
    width: 100%;
    flex-direction: row !important;
    flex-wrap: wrap;
    align-items: center;
    font-size: 13pt;
    justify-content: space-between !important;
}
.accept-order2{
    font-size: 12pt !important;
}
.form-control{
    font-family: "NunitoSans";
    font-size: 12pt;
    width: 250px;
}
.date-order2{
    font-size: 13pt !important;
}
.withot{
    border: 0px;
    background-color: unset;
}
.date-group input{
    width: 90px;
    height: 20px;
    font-size: 13pt;
}
.sum-purchase{
    color: var(--black, #1F2238);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "NunitoSans";
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px; /* 120% */
}
.description-purchase{
    display: flex;
    gap: 24px;
    flex-direction: column;
    align-items: flex-start
}
.description-purchase div{
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;
}
.button-order{
    margin-top: 40px;
    background-color: #253A31;
    color: white;
    font-family: "NunitoSans";
    border-radius: 20px;
    padding: 10px 40px;
    font-size: 20px;
    font-weight: 100;
    font-style: normal;
    cursor: pointer;
    transition: background-color 0.3s;

}
.button-order:hover{
    background-color: #3a5b4c;
    transition: background-color 0.3s;
}

@media (min-width:576px){
    .group-bucket{
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
}

@media (min-width:768px){
    .sum-purchase{
        color: var(--black, #1F2238);
        font-feature-settings: 'liga' off, 'clig' off;
        /* tab/h1 36-42-600 */
        font-family: "NunitoSans";
        font-size: 26px;
        font-style: normal;
        font-weight: 600;
        line-height: 42px; /* 116.667% */
    }
    .group-bucket{
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
}
