{%  extends "main/base.html" %}
{% load static %}

{% block css %}
<link href="{% static 'deps/css/style_catalog.css' %}" rel="stylesheet">
<link href="{% static 'deps/css/style_items.css' %}" rel="stylesheet">
{% endblock css %}

{% block content %}
<div class="title-section">
    <div class="flex-container-title">
        <div class="content-title">
            <div class="container-content">
                <div class="breadcrumbs">
                    <span class="white-crumb">Главная</span>
                    <span class="white-crumb">/</span>
                    <span class="grey-crumb">Блоки</span>
                </div>
                <div class="text-for-catalog">
                    <span class="title-catalog">Блоки</span>
                    <span class="description-catalog">Идеальный выбор для тех, кто строит с умом. Прочные, легкие и долговечные, они обеспечивают отличную тепло- и шумоизоляцию, позволяя экономить на отоплении и создавая комфорт в доме. Благодаря крупному размеру и малому весу, строительство идет быстрее и дешевле — меньше раствора, меньше труда, больше выгоды. Изготовленные из натурального керамзита, блоки безопасны для здоровья и устойчивы к влаге, огню и перепадам температур. Подходят для возведения несущих стен, перегородок, гаражей, хозяйственных построек и не только.</span>
                </div>
            </div>
            <img class="logo-catalog" src="{% static 'deps/images/блок.jpg' %}">
        </div>
    </div>
</div>
<div class="container-items">
    <div class="content-item">
        <div class="catalog-item">
            <div class="filter-panel">
                <select class="select-items">
                    <option>Керамзитоблок стеновой</option>
                    <option>Керамзитоблок M500</option>
                    <option>Керамзитоблок M350</option>
                </select>
                <select class="select-items">
                    <option>По возрастанию</option>
                    <option>По убыванию</option>
                </select>
            </div>
            <div class="items-cards">
                {% for product in products %}
                <a href="{% url "catalog:detail" %}" class="item-card">
                    <div class="image-info">
                        <img class="image-item" src="{{ product.image.url }}">
                        <div class="price">
                            <span class="price-text">{{product.price}} ₽ / шт</span>
                        </div>
                        <div class="favorite">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M4.25293 4.4011C4.25293 3.76597 4.7678 3.2511 5.40293 3.2511H18.6029C19.2381 3.2511 19.7529 3.76597 19.7529 4.4011V20.2238C19.7529 21.1592 18.6957 21.7033 17.9345 21.1596L12.0029 16.9228L6.07135 21.1596C5.3102 21.7033 4.25293 21.1592 4.25293 20.2238V4.4011ZM5.75293 4.7511V19.5437L11.3345 15.5569C11.7344 15.2713 12.2715 15.2713 12.6714 15.5569L18.2529 19.5437V4.7511H5.75293Z" fill="white"/>
                            </svg>
                        </div>
                        <div class="purchase">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M3 12L9.76945 18.7695C9.89356 18.8936 10.0972 18.8851 10.2106 18.7511L21 6" stroke="#253A31" stroke-width="1.5" stroke-linecap="round"/>
                            </svg>
                        </div>
                    </div>
                    <div class="content-item-under-img">
                        <span class="instock">
                            Есть в наличии
                        </span>
                        <div class="heading-item">
                            <span class="title-item">{{product.name}}</span>
                            <span class="text-item">{{product.size}} мм</span>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
