{%  extends "main/base.html" %}
{% load static %}

{% block css %}
<link href="{% static 'deps/css/style_catalog.css' %}" rel="stylesheet">
<link href="{% static 'deps/css/style_items.css' %}" rel="stylesheet">
{% endblock css %}

{% block content %}
<div class="title-section">
    <div class="flex-container-title">
        <div class="content-title">
            <div class="container-content">
                <div class="breadcrumbs">
                    <a href={% url "main:index" %} class="white-crumb">Главная</a>
                    <span class="white-crumb">/</span>
                    <span class="grey-crumb">{{ category.name }}</span>
                </div>
                <div class="text-for-catalog">
                    <span class="title-catalog">{{ category.name }}</span>
                    <span class="description-catalog">{{ category.description }}</span>
                </div>
            </div>
            <img class="logo-catalog" src="{{ category.image.url }}">
        </div>
    </div>
</div>
<div class="container-items">
    <div class="content-item">
        <div class="catalog-item">
            <form method="get" class="filter-panel" id="filterForm">
                <select name="subcategory" class="select-items" onchange="document.getElementById('filterForm').submit()">
                    <option value="">Все подкатегории</option>
                    {% for subcategory in subcategories %}
                        <option value="{{ subcategory.slug }}" {% if request.GET.subcategory == subcategory.slug %}selected{% endif %}>
                            {{ subcategory.name }}
                        </option>
                    {% endfor %}
                </select>
                <select name="sort" class="select-items" onchange="document.getElementById('filterForm').submit()">
                    <option value="asc" {% if request.GET.sort == 'asc' %}selected{% endif %}>По возрастанию цены</option>
                    <option value="desc" {% if request.GET.sort == 'desc' %}selected{% endif %}>По убыванию цены</option>
                </select>
            </form>
            <div class="items-cards">
                {% for product in products %}
                <div href="{% url 'catalog:detail' product.product.category.category.slug product.product.slug %}" class="item-card">
                    <div class="image-info">
                        <img class="image-item" src="{{ product.product.image.url }}">
                        <a href="{% url 'catalog:detail' product.product.category.category.slug product.product.slug %}" class="price">
                            <span class="price-text">{{product.product.price}} ₽ / шт</span>
                        </a>
                            {% csrf_token %}
                            {% if product.in_cart %}  
                                <div class="purchase" disabled>
                                    <svg class="added activeds" disabled xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <path d="M3 12L9.76945 18.7695C9.89356 18.8936 10.0972 18.8851 10.2106 18.7511L21 6" stroke="#253A31" stroke-width="1.5" stroke-linecap="round"/>
                                    </svg>
                                    <svg class="no_added" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M12.0029 3.2511C12.4171 3.2511 12.7529 3.58689 12.7529 4.0011V11.2511H20.0029C20.4171 11.2511 20.7529 11.5869 20.7529 12.0011C20.7529 12.4153 20.4171 12.7511 20.0029 12.7511H12.7529V20.0011C12.7529 20.4153 12.4171 20.7511 12.0029 20.7511C11.5887 20.7511 11.2529 20.4153 11.2529 20.0011V12.7511H4.00293C3.58872 12.7511 3.25293 12.4153 3.25293 12.0011C3.25293 11.5869 3.58872 11.2511 4.00293 11.2511H11.2529V4.0011C11.2529 3.58689 11.5887 3.2511 12.0029 3.2511Z" fill="white"/>
                                    </svg>
                                </div>
                            {% else %}
                                {% if user.is_authenticated %}
                                    <a href="{% url 'carts:cart_add' %}" type="button" class="purchase add-to-cart" data-product-id="{{ product.product.id }}">
                                        <!-- Если продукта нет в корзине, добавляем класс для иконки "activeds no_added" -->
                                        <svg class="no_added activeds" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M12.0029 3.2511C12.4171 3.2511 12.7529 3.58689 12.7529 4.0011V11.2511H20.0029C20.4171 11.2511 20.7529 11.5869 20.7529 12.0011C20.7529 12.4153 20.4171 12.7511 20.0029 12.7511H12.7529V20.0011C12.7529 20.4153 12.4171 20.7511 12.0029 20.7511C11.5887 20.7511 11.2529 20.4153 11.2529 20.0011V12.7511H4.00293C3.58872 12.7511 3.25293 12.4153 3.25293 12.0011C3.25293 11.5869 3.58872 11.2511 4.00293 11.2511H11.2529V4.0011C11.2529 3.58689 11.5887 3.2511 12.0029 3.2511Z" fill="white"/>
                                        </svg>
                                        <svg class="added" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                            <path d="M3 12L9.76945 18.7695C9.89356 18.8936 10.0972 18.8851 10.2106 18.7511L21 6" stroke="#253A31" stroke-width="1.5" stroke-linecap="round"/>
                                        </svg>
                                    </a>
                                {% else %}
                                    <a href="{% url 'users:login' %}" class="purchase">
                                        <!-- Если продукта нет в корзине, добавляем класс для иконки "activeds no_added" -->
                                        <svg class="no_added activeds" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M12.0029 3.2511C12.4171 3.2511 12.7529 3.58689 12.7529 4.0011V11.2511H20.0029C20.4171 11.2511 20.7529 11.5869 20.7529 12.0011C20.7529 12.4153 20.4171 12.7511 20.0029 12.7511H12.7529V20.0011C12.7529 20.4153 12.4171 20.7511 12.0029 20.7511C11.5887 20.7511 11.2529 20.4153 11.2529 20.0011V12.7511H4.00293C3.58872 12.7511 3.25293 12.4153 3.25293 12.0011C3.25293 11.5869 3.58872 11.2511 4.00293 11.2511H11.2529V4.0011C11.2529 3.58689 11.5887 3.2511 12.0029 3.2511Z" fill="white"/>
                                        </svg>
                                        <svg class="added" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                            <path d="M3 12L9.76945 18.7695C9.89356 18.8936 10.0972 18.8851 10.2106 18.7511L21 6" stroke="#253A31" stroke-width="1.5" stroke-linecap="round"/>
                                        </svg>
                                    </a>
                                {% endif %}                
                            {% endif %}
                    </div>
                    <a href="{% url 'catalog:detail' product.product.category.category.slug product.product.slug %}" class="content-item-under-img">
                        <span class="instock">
                            Есть в наличии
                        </span>
                        <div class="heading-item">
                            <span class="title-item">{{product.product.name}}</span>
                            <span class="text-item">{{product.product.size}} мм</span>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>    
{% endblock content %}
