{%  extends "main/base.html" %}
{% load static %}
{% block css %}
<link href="{% static 'deps/css/style_detail.css' %}" rel="stylesheet">
{% endblock css %}
{% block content %}
    <div class="detail-section">
        <img style="width: 300px;" src="{{ product.image.url }}">
        <div class="container-detail">
            <div class="content-detail">
                <div class="breadcrumbs-detail">
                    <div class="breadcrumbs-detail-container">
                        <a href={% url "main:index" %} class="black-breadcrumbs-detail">Главная</a>
                        <span class="black-breadcrumbs-detail"> / </span>
                        <a href={% url "catalog:catalog" product.category.category.slug %} class="black-breadcrumbs-detail">Блоки</a>
                        <span class="black-breadcrumbs-detail"> / </span>
                        <span class="grey-breadcrumbs-detail">{{product.name}}</span>
                    </div>
                </div>
                <div class="header-page">
                    <span class="heading-detail">
                        {{product.name}}
                    </span>
                    <div class="info-block">
                        <div class="info-container-detail">
                            <div class="line-info-detail">
                                <b>Размеры мм.</b>
                                <span>{{product.size}}</span>
                            </div>
                            <div class="line-info-detail">
                                <b>Вес</b>
                                <span>Размеры</span>
                            </div>
                            <div class="line-info-detail">
                                <b>Состав</b>
                                <span>{{product.compound}}</span>
                            </div>
                            <div class="line-info-detail">
                                <b>Кол-во на поддоне (шт.)</b>
                                <span>Размеры</span>
                            </div>
                            <div class="line-info-detail">
                                <b>Наличие</b>
                                <span>Есть в наличии</span>
                            </div>
                            <span class="price-detail">
                                {{product.price}} ₽ шт.
                            </span>
                            {% if is_in_cart %}
                                <div class="activedz buttons-container-detail buttons-container-detail1">
                                    <span class="order-button-detail" style="background-color: #e4e4e4; color: #316650" >В корзинe</a>
                                </div>
                            {% else %}
                                <div class="activedz buttons-container-detail buttons-container-detail2">
                                    {% if user.is_authenticated %}
                                        <a href="{% url 'carts:cart_add' %}" class="order-button-detail add-to-cart" data-product-id="{{product.id}}">В корзину</a>
                                    {% else %}
                                        <a href="{% url 'users:login' %}" class="order-button-detail">Войдите для добавления в корзину</a>
                                    {% endif %}
                                    {% csrf_token %}
                                </div>
                                <div class="buttons-container-detail buttons-container-detail1">
                                    <span class="order-button-detail" style="background-color: #e4e4e4; color: #316650" >В корзинe</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="description-detail">
                        <span class="title-description">
                            Описание
                        </span>
                        <span class="text-description">
                            {{product.description}}
                        </span>
                    </div>
                </div>
            </div>  
        </div>
    </div>
    
{% endblock content %}